body {
  margin: 0;
  background: #0b0b0b;
  font-family: Arial, sans-serif;
  color: #eaeaea;
}

/* Cover Spider-Man */
.cover {
  height: 230px;
  background-image:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1635805737707-575885ab0820");
  background-size: cover;
  background-position: center;
}

/* Page */
.page {
  max-width: 800px;
  margin: -70px auto 50px;
  background: #111;
  padding: 60px;
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(230,36,41,0.4);
}

/* Icon */
.icon {
  width: 90px;
  height: 90px;
  background: #e62429;
  color: white;
  border-radius: 50%;
  font-size: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -110px;
  box-shadow: 0 0 0 6px black;
}

h1 {
  color: #e62429;
}

h2 {
  color: #ff3b3f;
}

pre {
  background: black;
  color: #e62429;
  padding: 15px;
  border-radius: 8px;
}
