body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#c31432, #240b36);
    color: white;
    text-align: center;
}

header {
    padding: 30px;
    background-color: #b11313;
}

.card {
    background-color: rgba(0,0,0,0.7);
    margin: 40px auto;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
}

button {
    background-color: #e62429;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
